@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: start;
    }

    .menu {
        flex-direction: column;
        gap: 10px;
    }

    main div {
        flex-direction: column;
        width: 100%;
    }

    .card {
        padding: 2rem;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
}

body {
    background-color: #f9fafb;
    color: #000;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav {
    background-color: white;
    padding: 10px  10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    align-items: center;
}

.logo-box {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.logo-img{
    height: 40px;
    width: 40px;
    border-radius: 25%;
}

.logo-text {
    font-size: 20px;
}

.logo-text span {
    color: #ff8800;
}

.menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s;
  }

.menu a:hover {
    background-color: #e0e0e0;
}

.menu a.active {
    background: linear-gradient(to right, #ff9100, #ffd000);
    color: white;
    font-weight: bold;
}

header {
    color: black;
    text-align: center;
    padding: 5rem;
    font-size: x-large;
}

header h1 {
    margin-bottom: 25px;
}

header strong {
    background: linear-gradient(to right, #ff9100, #ffd000);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
    font-size: large;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    margin-top: 20px;
}

section {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
}

.historia {
    color: black;
    padding: 10px;
    display: flex;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

.historia p {
    text-align: left;
}

.historia img {
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card {
    width: 30%;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #e9eef3;
    transition: 0.6s ease-out;
}

.card:hover {
    box-shadow: rgba(251, 140, 0, 0.4) 5px 5px, rgba(255, 152, 0, 0.3) 10px 10px, rgba(255, 167, 38, 0.2) 15px 15px, rgba(255, 204, 128, 0.1) 20px 20px, rgba(255, 243, 224, 0.05) 25px 25px;
}

.icone {
    background: linear-gradient(to right, #ffd000, #ff8800);
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 100%;
    margin-top: 30px;
}

.card h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card p {
    font-size: medium;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.infos h2 {
    margin-bottom: 20px;
}

.infos strong {
    background: linear-gradient(to right, #ff8800, #ff6600,  #ff8800);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grupo {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 2rem;
}

.valores {
    width: 100%;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fig {
    width: 50px;
    height: 50px;
}

.c-valor {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #e9eef3;
    transition: 0.6s ease-out;
}

.c-valor:hover {
    box-shadow: rgba(251, 140, 0, 0.4) 5px 5px, rgba(255, 152, 0, 0.3) 10px 10px, rgba(255, 167, 38, 0.2) 15px 15px, rgba(255, 204, 128, 0.1) 20px 20px, rgba(255, 243, 224, 0.05) 25px 25px;
}

.c-valor h4 {
    margin-top: 30px;
}

.c-valor p {
    font-size: medium;
    margin-bottom: 30px;
}

.profissional{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.colaborador {
    width: 20%;
    height: 50%;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #e9eef3;
    transition: 0.6s ease-out;
}
  
.colaborador:hover {
    box-shadow: rgba(251, 140, 0, 0.4) 5px 5px, rgba(255, 152, 0, 0.3) 10px 10px, rgba(255, 167, 38, 0.2) 15px 15px, rgba(255, 204, 128, 0.1) 20px 20px, rgba(255, 243, 224, 0.05) 25px 25px;
}

.colaborador h3 {
    margin-top: 15px;
    margin-bottom: 3px;
}

.colaborador p {
    font-size: medium;
    padding-bottom: 15px;
}

.colaborador span {
    color: rgb(0, 153, 255);
}

.foto {
    width: 70px;
    height: 70px;
    border-radius: 10%;
    margin-top: 30px;
}

footer {
    height: 220px;
    background-color: #001027;
    padding: 30px 20px;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    text-align: center;
}

footer .social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

footer .social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s;
}

footer .social-icons img:hover {
    transform: scale(1.1);
}

.lista {
    width: auto;
    color: #f4f0ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lista ul {
    align-items: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    margin: 10px auto;
}
